###
## Pipeline vars to be filled by stackforms (stored in config repository)
###

###
## To be filled by stackforms - in config repository
## Example configuration
###

## kubeconfig to allow to connect to instance
#kubeconfig_content
kubeconfig_filename: "kubeconfig"
namespace: "stack-monitoring"

# kubectl version used to run extra cmd. Using alpine/k8s image.
# https://hub.docker.com/r/alpine/k8s/tags?page=1
kubectl_version: "1.31.13"

## monitoring tools
grafana_install: false
alertmanager_install: false
prometheus_install: true

# grafana SSO
grafana_sso_enabled: true
grafana_sso_provider_name: ""
grafana_sso_allowed_domains: ""
grafana_sso_client_id: ""
grafana_sso_client_secret: ""
grafana_sso_api_url: ""
grafana_sso_auth_url: ""
grafana_sso_token_url: ""
grafana_sso_scopes: ""
grafana_sso_role_atribute_path: ""
grafana_additional_datasources: ""

# alertmanager - external (not created with the stack)
alertmanager_use_external: ""
alertmanager_config_receivers: ""

#heartbeat
opsgenie_token: ""

# cycloid
cycloid_api_key: ""
