module "aws-vm" {
  #####################################
  source       = "./aws-vm"
  project      = var.project
  env          = var.env
  organization = var.organization
  component    = var.component
  #####################################

  # general azure variables
  aws_region = var.aws_region

  # tls variables
  enable_tls                     = var.enable_tls
  create_self_signed_certificate = var.create_self_signed_certificate
  tls_crt                        = var.tls_crt
  tls_key                        = var.tls_key

}

module "cycloid-credentials" {
  #####################################
  source       = "./cycloid-credentials"
  project      = var.project
  env          = var.env
  organization = var.organization
  component    = var.component
  #####################################

  vm_private_ssh_key = module.aws-vm.ssh_private_key

  prometheus_username = module.aws-vm.prometheus_basic_auth_username
  prometheus_password = module.aws-vm.prometheus_basic_auth_password

  alertmanager_username = module.aws-vm.alertmanager_basic_auth_username
  alertmanager_password = module.aws-vm.alertmanager_basic_auth_password

  grafana_username = module.aws-vm.grafana_basic_auth_username
  grafana_password = module.aws-vm.grafana_basic_auth_password
}