# Defines the set of alerts to check the status of alertmanager
# Checks if:
# - Alertmanager is down

groups:
- name: alertmanager-default.rules
  rules:
    {% set alert = 'AlertmanagerIsDown' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "Alertmanager is down"
      expr: absent(up{job="alertmanager", {{ joined_config['selector'] }}})
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Alertmanager is down"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: The Alertmanager job has disappeared"
    {% endif %}
