# Defines the set of alerts to check the status of blackbox exporter targets
# Checks if:
# - Probe fails
# - Probe HTTP result is not between 200-399
# - Certificate expiration time is nearby
# - Probe is slow

groups:
- name: blackbox-exporter-default.rules
  rules:
  {% for custom_config in prometheus_default_rules_custom.get('BlackboxProbeFailed', [{}]) %}
    {% set joined_config = custom_config |
                           combine(prometheus_default_rules_predefined['BlackboxProbeFailed']) |
                           combine(prometheus_default_rules_global) %}
    {% if not joined_config['disable'] %}
    - alert: "BlackboxProbeFailed"
      expr: probe_success{ {{ joined_config['selector'] }} } == 0
      for: "{{ joined_config['for'] }}"
      labels:
        {% raw -%}
        organization: '{{ $labels.organization }}'
        project: '{{ $labels.project }}'
        role: '{{ $labels.role }}'
        env: '{{ $labels.env }}'
        {% endraw -%}
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox probe failed"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: Probe failed"
    {% endif %}
  {% endfor %}

  {% for custom_config in prometheus_default_rules_custom.get('BlackboxProbeHttpFailure', [{}]) %}
    {% set joined_config = custom_config |
                           combine(prometheus_default_rules_predefined['BlackboxProbeHttpFailure']) |
                           combine(prometheus_default_rules_global) %}
    {% if not joined_config['disable'] %}
    - alert: "BlackboxProbeHttpFailure"
      expr: probe_http_status_code{ {{ joined_config['selector'] }} } <= 199 OR probe_http_status_code { {{ joined_config['selector'] }} } >= 400
      for: "{{ joined_config['for'] }}"
      labels:
        {% raw -%}
        organization: '{{ $labels.organization }}'
        project: '{{ $labels.project }}'
        role: '{{ $labels.role }}'
        env: '{{ $labels.env }}'
        {% endraw -%}
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox probe HTTP failure"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: HTTP status code is not 200-399"
    {% endif %}
  {% endfor %}

  {% for custom_config in prometheus_default_rules_custom.get('BlackboxSslCertificateWillExpireWithin30Days', [{}]) %}
    {% set joined_config = custom_config |
                           combine(prometheus_default_rules_predefined['BlackboxSslCertificateWillExpireWithin30Days']) |
                           combine(prometheus_default_rules_global) %}
    {% if not joined_config['disable'] %}
    - alert: "BlackboxSslCertificateWillExpireWithin30Days"
      expr: 3 <= round((last_over_time(probe_ssl_earliest_cert_expiry{ {{ joined_config['selector'] }} }[{{ joined_config['for'] }}])) - time()) / 86400, 0.1) < 30
      for: "{{ joined_config['for'] }}"
      labels:
        {% raw -%}
        organization: '{{ $labels.organization }}'
        project: '{{ $labels.project }}'
        role: '{{ $labels.role }}'
        env: '{{ $labels.env }}'
        {% endraw -%}
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox SSL certificate will expire in less than 30 days"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: SSL certificate expires in less than 30 days"
    {% endif %}
  {% endfor %}

  {% for custom_config in prometheus_default_rules_custom.get('BlackboxSslCertificateExpired', [{}]) %}
    {% set joined_config = custom_config |
                           combine(prometheus_default_rules_predefined['BlackboxSslCertificateExpired']) |
                           combine(prometheus_default_rules_global) %}
    {% if not joined_config['disable'] %}
    - alert: "BlackboxSslCertificateExpired"
      expr: round((last_over_time(probe_ssl_earliest_cert_expiry{ {{ joined_config['selector'] }} }[{{ joined_config['for'] }}])) - time()) / 86400, 0.1) < 0
      for: "{{ joined_config['for'] }}"
      labels:
        {% raw -%}
        organization: '{{ $labels.organization }}'
        project: '{{ $labels.project }}'
        role: '{{ $labels.role }}'
        env: '{{ $labels.env }}'
        {% endraw -%}
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox SSL certificate has expired"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: SSL certificate has expired"
    {% endif %}
  {% endfor %}