# Defines the set of alerts to check the status of blackbox exporter targets
# Checks if:
# - Probe fails
# - Probe HTTP result is not between 200-399
# - Certificate expiration time is nearby
# - Probe is slow

groups:
- name: blackbox-exporter-default.rules
  rules:
    {% set alert = 'BlackboxProbeFailed' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "Blackbox Probe Failed"
      expr: probe_success{ {{ joined_config['selector'] }} } == 0
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox probe failed"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: Probe failed"
    {% endif %}

    {% set alert = 'BlackboxProbeHttpFailure' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "Blackbox Probe HTTP Failure"
      expr: probe_http_status_code{ {{ joined_config['selector'] }} } <= 199 OR probe_http_status_code { {{ joined_config['selector'] }} } >= 400
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox probe HTTP failure"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: HTTP status code is not 200-399"
    {% endif %}

    {% set alert = 'BlackboxSslCertificateWillExpireWithin30Days' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "SSL Certificate Will Expire Within 30 Days"
      expr: round(
        (last_over_time(probe_ssl_earliest_cert_expiry{ {{ joined_config['selector'] }} }[{{ joined_config['for'] }}]) - time()) / 86400, 0.1) < 30
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox SSL certificate will expire in less than 30 days"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: SSL certificate expires in less than 30 days"
    {% endif %}

    {% set alert = 'BlackboxSslCertificateExpired' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "SSL Certificate is expired"
      expr: round((last_over_time(probe_ssl_earliest_cert_expiry{ {{ joined_config['selector'] }} }[{{ joined_config['for'] }}]) - time()) / 86400, 0.1) < 0
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{$labels.instance}}{% endraw %}: Blackbox SSL certificate has expired"
        description: "{%- raw %}{{$labels.instance}}{% endraw %}: SSL certificate has expired"
    {% endif %}