# Defines the set of alerts to check the metrics of node-exporter
# Checks:
# - High CPU usage
# - High Disk Space usage

groups:
- name: node-exporter-default.rules
  rules:
    {% set alert = 'HighCpuUsage' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "HighCpuUsage"
      expr: (sum by (instance) (rate(node_cpu_seconds_total{mode!="idle", {{ joined_config['selector'] }} }[{{ joined_config['for'] }}])) * 100) > {{ joined_config['threshold'] }}
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{ $labels.instance }}{% endraw %}: CPU usage is above {{ joined_config['threshold'] }}% (current value is: {%- raw %}{{ $value }}{% endraw %})"
        description: "{%- raw %}{{ $labels.instance }}{% endraw %}: High CPU usage detected (current value is: {%- raw %}{{ $value }}{% endraw %})"
    {% endif %}

    {% set alert = 'HighDiskUsage' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}


    - alert: "HighDiskUsage"
      expr: (1 - (node_filesystem_avail_bytes{{ '{' }}{{ joined_config['selector'] }}{{ '}' }} / node_filesystem_size_bytes{{ '{' }}{{ joined_config['selector'] }}{{ '}' }})) * 100 > {{ joined_config['threshold'] }}
      for: "{{ joined_config['for'] }}"
      labels:
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "{%- raw %}{{ $labels.instance }}{% endraw %}: Disk usage is above {{ joined_config['threshold'] }}% (current value is: {%- raw %}{{ $value }}{% endraw %})"
        description: "{%- raw %}{{ $labels.instance }}{% endraw %}: High Disk usage detected (current value is: {%- raw %}{{ $value }}{% endraw %})"
    {% endif %}