# Defines the set of alerts to check the status of prometheus
# Checks:
# - Watchdog (creates constant alert to check if monitoring is working)

groups:
- name: watchdog.rules
  rules:
    {% set alert = 'Watchdog' %}
    {% set joined_config = prometheus_default_rules_global |
                           combine(prometheus_default_rules_predefined.get(alert, {})) |
                           combine(prometheus_default_rules_custom.get(alert, {})) %}
    {% if not joined_config['disable'] %}

    - alert: "Watchdog"
      expr: vector(1)  # This expression always evaluates to true
      for: "{{ joined_config['for'] }}"
      labels:
        customer: "{{ joined_config['organization'] }}"
        organization: "{{ joined_config['organization'] }}"
        project: "{{ joined_config['project'] }}"
        env: "{{ joined_config['env'] }}"
        component: "{{ joined_config['component'] }}"
        severity: "{{ joined_config['severity'] }}"
        receiver: "{{ joined_config['receiver'] }}"
      annotations:
        summary: "Watchdog alert is active"
        description: "This is a watchdog alert to ensure the alerting pipeline is functional."
    {% endif %}